html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer {
  padding-bottom: 20px;
  background-color: black;
  /* background-image: url('./footer-background.png')!important; */
  background-size:auto;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.button1 {
  text-decoration: none;  
  display: inline-block;
  cursor: pointer;
  background-color: cyan;
  color: grey;
}

.button1:hover {
  background-color: grey;
  color: cyan;
}