html,
body {
  padding: 0;
  margin: 0;
  font-size: x-large;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.App {
  /* text-align: center; */
  background-color: #282c34;
}
* {
  box-sizing: border-box;
}

.footer {
  padding-bottom: 20px;
  background-color: black;
  background-image: url('../milky-way2.jpg');
  background-size:cover;
  background-position: center;
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
}

.demo-bg {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.button1 {
  text-decoration: none;  
  display: inline-block;
  cursor: pointer;
  background-color: cyan;
  color: grey;
}

.button1:hover {
  background-color: grey;
  color: cyan;
}

body42 {
  text-indent: 20px;
  padding: 0;
  margin: 0;
  font-size: x-large;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}